@font-face {
    font-family: 'Kepler452b';
    src: url('../fonts/Kepler452b-Regular.woff2') format('woff2'),
        url('../fonts/Kepler452b-Regular.woff') format('woff'),
        url('../fonts/Kepler452b-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    background: #FFF;
    color: #000;
    font-family: Courier, monospace;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover, a:active, a:focus {
    text-decoration: underline;
}
small {
	font-size: .8em;
}
body header, body main, body footer {
    margin: 32px;
}
.menu ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0px;
}
.menu li {
    display: inline;
}
.menu span {
    padding: 0px 16px;
}
main {
    width: calc(100% - 64px);
}
h1, h2, h3, h4, h5, h6 {
	font-family: Kepler452b;
	font-size: 2.7em;
    font-weight: normal;
}
.aliases {
	margin: 0;
	padding: 0;
	list-style: none;
}
.aliases li {
	margin-bottom: 1em;
	padding: 1em;
}
.aliases li a {
	display: block;
}
.imggrid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    max-width: 100%;
    padding: 0;
    list-style: none;
}
.imggrid li {
    flex-shrink: 0;
    margin: 0 1em 2.5em 0em;
}
figure {
    margin: 0;
}
figure.std {
    max-width: 308px;
    width: 100%;
}
figure img {
    width: 100%;
}
figure .whitebg, figure .blackbg {
    align-items: center;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    width: 100%;
}
.whitebg {
    background: #FFF;
}
.blackbg {
    background: #000;
}
figcaption > * {
	clear: both;
    float: left;
}
.audiocontainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.audiocontainer > * {
    display: inline-flex;
}
.audiocontainer > div {
    flex-grow: 1;
}
.audiocontainer > a {
    flex-grow: 0;
}
.audiocontainer audio {
    width: 100%;
}